html {
    font-size: 1em;
}
body {
    font: 1em 'Source Sans Pro';
    margin: 0;
    /*background: #fff;*/
    background-size: cover;
    /*color: #000;*/
}

.btn {
    border: none;
    color: white;
    overflow: hidden;
    margin: 1rem;
    padding: 0;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}
.btn-round {
    border-radius: 10em;
}
.btn.color-1 {
    background-color: rgba(48, 47, 45, 0.7);
}
.material-design {
    position: relative;
}
.btn-border.color-1 {
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
}
#content {
    display: table;
    margin: auto;
    /*background: rgba(0,0,0,0.7);*/
}
#right {
    padding: 0 0.5em;
    position: relative;
    overflow: hidden;
    float: left;
}
#center {
    border: 1px solid #000000;
    position: relative;
    float: left;
}
